absl-py
anyio
apyori
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
attrs
backcall
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numpy
oauthlib
opt-einsum
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
sniffio
soupsieve
stack-data
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
testpath
tf-estimator-nightly
threadpoolctl
tinycss2
tornado
tqdm
traitlets
typing_extensions
urllib3
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
zipp
opencv-python
